@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,800&display=swap');
@font-face {
    font-family: "roboto";
    src: url('fonts/Cocogoose\ Pro\ Semilight-trial.ttf');
  }

body {
    background: #fff;
}

hr {
    border: 1px solid #ec5242;
    width: 70px;
    height: 2px !important;
    color: #ec5242;
    margin: 0 !important;
    padding: 0 !important;
}

.header-container {
    background-image: url('img/header-backround.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-black {
    border: 1px solid;
    background-color: #272a31;
    height: 40px;
}

.upper-nav {
    display: flex;
    flex-direction: row-reverse;
}

.upper-nav li {
    color: #fff;
    padding: 10px;
    list-style: none;
    font-size: 12px;
}

.upper-nav img {
    width: 30px;
    height: 20px;
  }

/* navbar */
.navbar-brand {
    font-size: 22px;
    line-height: 30px;
    font-family: 'Cocogoose', serif;
}

.text-18 {
    font-size: 18px;
    line-height: 30px;
    font-family: 'Cocogoose', serif;
}

/* header */
.header {  
    height: 100vh; 
    padding: 15px;
}
.header h1 {
    text-transform: uppercase;
    font-size: 35px;
    line-height: 40px;
    color: #ec5242;
    font-weight: bold;
    font-family: 'Lato', serif;
}

.header p {
    font-size: 24px;
    line-height: 30px;
    padding: 10px;
    font-family: 'Cocogoose', serif;
    font-weight: bold;
}

.main-p {
    border: 2px solid #fff;
    padding: 10px;
    margin-top: 50px;
    font-weight: bold;
 }

 /* main-topic */
 .main-topic {
     background-color:  #272a31;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .main-topic h3 {
    margin-top: 20px;
    padding: 10px;
    font-size: 24px;
    line-height: 30px;
    color: #d3d3d3;
    font-family: 'Cocogoose', serif;
 }

 .main-topic-item {
    display: flex;
    align-items: center;
    margin: 16px;
    padding: 15px;
    background-color: #474b54;
 }

 .main-topic-item img {
     width: 40px;
     height: 50px;
 }

 .title {
    font-size: 16px;
    padding:0 5px;
    color: #ec5242;
    font-family: 'Kaisei HarunoUm', serif;
 }

 .text {
    font-size: 10px;
    padding: 0 5px;
    color: #d3d3d3;
    font-family: 'Cocogoose', serif;
 }

  /* courses */
 .courses {
     background: #fff;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-bottom: 50px;
 }

 .courses h3 {
     margin-top: 20px;
     padding: 10px;
 }

 .course-item {
    display: flex;
    align-items: center;
 }

 .course-item img {
     width: 100px;
     height: 150px;
     margin: 0 15px;
 }

 .course-item-body {
    font-size: 16px;
    font-family: 'Cocogoose', serif;
 }

 .title-course {
    font-size: 24px;
    padding:0 5px;
    color: #ec5242;
    font-family: 'Kaisei HarunoUm', serif;
 }

 .more-btn {
     width: 90%;  
 }
 @media (max-width: 768px) {
   .bg-black {
       display: none;
   }

   .navbar-brand {
       display: none;
   }
   
    .join-button {
        color: #d3d3d3;
        background-color: #ec5242;
        font-family: 'Kaisei HarunoUm', serif;
        padding: 25px;
         height: 60px;
         width: 70%;
         height: 80px;
         margin: 50px;
         text-align: center;  
     }

     .course-row {
         display: none;
     }
 }

 @media (min-width: 768px) {
    .navbar {
        justify-content: space-around;
        background-color: #fff;
    }

    .navbar-collapse {
        margin-left: 200px;
    }

    .nav-btn {
        margin-right: 100px;
    }

    .nav-item {
        padding:0 30px;
    }

    .header {
        margin-top: 100px;
    }

    .header h1 {
        font-size: 80px;
        line-height: 90px;
    }

    .item-wraper {
        display: flex;
        margin: 0 100px;
    }

    .main-topic-item {
        flex-direction: column;
        margin: 2px;
    }

    .title {
        margin: 10px;
    }

    .join-button {
        color:#d3d3d3;
        margin: 50px;
        font-family: 'Kaisei HarunoUm', serif;
     }

     .more-btn {
         display: none;
     }

     .footer-black {
        background-color:  #272a31;
        display: flex;
        flex-direction: column;
        align-items: center;
     }

     .footer-black h3 {
        margin-top: 20px;
        padding: 10px;
        font-size: 24px;
        line-height: 30px;
        color: #d3d3d3;
        font-family: 'Cocogoose', serif;
     }

     .footer-black ul {
        width: 100%;
         display: flex;
         justify-content:space-around;
     }

     .footer-black li {
        color: #d3d3d3;
        font-family: 'Cocogoose', serif;
        list-style: none;
        font-size: 24px;
        text-transform: uppercase;
        padding: 20px;
     }

     .footer-light {
        background: #fff;
        display: flex;
        margin-bottom: 50px;

     }

     

 }