@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Kaisei+HarunoUmi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

body {
    background: #fff;
}

hr {
    border: 1px solid #ec5242;
    width: 70px;
    height: 2px !important;
    color: #ec5242;
    margin: 0 !important;
    padding: 0 !important;
}

.header-container {
    background-image: url('img/header-backround.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* navbar */
.navbar-brand {
    font-size: 22px;
    line-height: 30px;
    font-family: 'Hina Mincho', serif;
}

.text-18 {
    font-size: 18px;
    line-height: 30px;
    font-family: 'Hina Mincho', serif;
}

/* header */
.header {  
    height: 100vh; 
    padding: 15px;
}
.header h1 {
    font-size: 45px;
    line-height: 50px;
    color: #ec5242;
    font-weight: bold;
    font-family: 'Kaisei HarunoUmi', serif;
}

.header p {
    font-size: 24px;
    line-height: 30px;
    padding: 10px;
    font-family: 'Hina Mincho', serif;
    font-weight: bold;
}

.main-p {
    border: 2px solid #fff;
    padding: 10px;
    margin-top: 50px;
    font-weight: bold;
 }

 /* main-topic */
 .main-topic {
     background-color:  #272a31;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .main-topic h3 {
    margin-top: 20px;
    padding: 10px;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    font-family: 'Hina Mincho', serif;
 }

 .main-topic-item {
    display: flex;
    align-items: center;
    margin: 16px;
    padding: 15px;
    background-color: #474b54;
 }

 .main-topic-item img {
     width: 40px;
     height: 50px;
 }

 .title {
    font-size: 16px;
    padding:0 5px;
    color: #ec5242;
    font-family: 'Kaisei HarunoUm', serif;
 }

 .text {
    font-size: 10px;
    padding: 0 5px;
    color: #fff;
    font-family: 'Hina Mincho', serif;
 }

  /* courses */
 .courses {
     background: #fff;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-bottom: 50px;
 }

 .courses h3 {
     margin-top: 20px;
     padding: 10px;
 }

 .course-item {
    display: flex;
    align-items: center;
 }

 .course-item img {
     width: 100px;
     height: 150px;
     margin: 0 15px;
 }

 .course-item-body {
    font-size: 16px;
    font-family: 'Hina Mincho', serif;
 }

 .title-course {
    font-size: 24px;
    padding:0 5px;
    color: #ec5242;
    font-family: 'Kaisei HarunoUm', serif;
 }

 .more-btn {
     width: 90%;  
 }
 @media (max-width: 768px) {
   
    .join-button {
        color: #fff;
        background-color: #ec5242;
        padding: 25px;
         height: 60px;
         width: 70%;
         height: 80px;
         margin: 50px;
         text-align: center;  
     }
 }

 @media (min-width: 768px) {
    .navbar {
        justify-content: space-around;
        background-color: #fff;
    }

    .navbar-brand {
        margin-left: 100px;
    }

    .navbar-collapse {
        margin-left: 100px;
    }

    .nav-btn {
        margin-right: 100px;
    }

    .header {
        margin-top: 100px;
        margin-left: 150px;
    }

    .item-wraper {
        display: flex;
        margin: 0 100px;
    }

    .main-topic-item {
        flex-direction: column;
        margin: 2px;
    }

    .title {
        margin: 10px;
    }

    .join-button {
        color: #fff;
        margin: 50px;
     }
 }